@import '../../asset/scss/custom_variables';
.logoSize
{
  max-width: 225px;
}
/* 
 * Desktop Menu Start
 */
.menu
{
  position: relative;
  background: $light;
  width: max-content;
  a
  {
    position: relative;
    color: $dark;
    padding: 9px 32px;
    z-index: 1;

    &:hover
    {
      color: $dark;
    }
  }
  span
  {
    letter-spacing: $h4-font-size;
    margin-right: -$h4-font-size;
  }
  &::before
  {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: $dark;
    border-radius: 21px;
    transition: .3s;
  }
  &.rent
  {
    .bike
    {
      color: $primary;
    }
  }
  &.return
  {
    .parking
    {
      background: transparent;
      color: $primary;
    }
    &::before
    {
      transform: translateX(100%);
    }
  }
}
/* 
 * Desktop Menu End
 */

/* 
 * Svg Active Style Start
 */
.rent
{
  .bike
  {
    path
    {
      fill: $primary;
    }
  }
}
.return
{
  .parking
  {
    path
    {
      fill: $dark;
    }
    rect
    {
      fill: $primary;
    }
  }
}
/*
 * Svg Active Style End 
 */

/*
 * Switch Btn Start 
 */
.switch
{
  position: relative;
  display: block;
  width: 106px;
  height: 32px;

  input
  {
    width: 0;
    height: 0;
    opacity: 0;
  }
}
.slider
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background: $dark;
  transition: .3s;

  &::before
  {
    content: '顯示 1.0';
    position: absolute;
    top: 50%;
    left: 12px;
    color: $light;
    font-size: 13px;
    transform: translate(0, -50%);
    transition: .3s;
  }
  &::after
  {
    content: '';
    position: absolute;
    top: 50%;
    right: 4px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: $light;
    transform: translate(0, -50%);
    transition: .3s;
  }
}
input:checked
{
  & + .slider
  {
    background: $light;
  }
  & + .slider::before
  {
    content: '顯示 2.0';
    color: $dark;
    transform: translate(60%, -50%);
  }
  & + .slider::after
  {
    background: $primary;
    transform: translate(-300%, -50%);
  }
}
/*
 * Switch Btn End
 */