@import '../../asset/scss/custom_variables';
.index_menu
{
  max-width: 245px;
}
.btn
{
  border: 2px solid $dark;
  border-radius: 10px;
  color: $dark;
  text-align: center;
  transition: .3s;

  &:hover
  {
    background: $dark;
    color: $primary;
  }
}