ul
{
  list-style: none;
  margin: 0;
  padding: 0;
}
img
{
  object-fit: cover;
}

.header
{
  &__logo
  {
    width: 100%;
    height: auto;
  }
  h1
  {
    overflow:hidden;
    white-space:nowrap;
  }
  h2
  {
    letter-spacing: 12px;
  }
}

.btn--dark
{
  background: $dark;
  line-height: 1;
  border: 0;
  color: $light;
}

.custom_select
{
  position: relative;
  width: 144px;

  select
  {
    display: none;
  }
}
.select
{
  &-selected::after
  {
    content: url('../icon/dropdown.svg');
    position: absolute;
    right: 10px;
  }
  &-selected, &-items li
  {
    color: $dark;
    background: $light;
    cursor: pointer;

    &:hover
    {
      background: $primary;
    }
  }
  &-selected-dark, &-items-dark li
  {
    color: $light;
    background: $dark;
    cursor: pointer;

  }
  &-items-dark a:hover
  {
    color: $dark;
    background: $primary;
  }
  &-items
  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 4px;
    overflow: hidden;
    max-height: 180px;
    overflow-y: auto;

    &-dark
    {
      border-radius: 18px;
    }
  }
}