@import '../../asset/scss/custom_variables';
.form
{
  opacity: .8;
  transition: .3s;

  &:hover,
  &:active,
  &:focus
  {
    opacity: 1;
  }

  &__group
  {
    max-width: 450px;
  }
  &__control
  {
    border: 0;
    border-radius: 8px;
  }

  &__result
  {
    li
    {
      background: $light;
      cursor: pointer;

      &:hover
      {
        background: $primary;
      }
    }
  }
}